<div class="row">
	<h1>User info</h1>
</div>

<div class="row">

	<div class="col-xs-12">

		<% if user.errors.any? %>
			<div class="alert">
				<h2><%= pluralize(user.errors.count, "error")%> prohibited this obj from being saved:</h2>

				<ul>
					<% user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	
	<div class="col-xs-4">
		<%= form_for(user) do |f| %>
			
			<div class="block">
				<%= f.label :Name %>
				<%= f.text_field :name, {class: 'visible-xs-bloc'} %>
						
			</div>
			<div class="block">					<%= f.label :Image %>
				<%= f.attachment_field :profile_image %>
			</div>
			<div class="block">
				<%= f.label :introduction %>
				<%= f.text_area :introduction %>
			</div>

			<%= f.submit('Update User', class: 'btn btn-default btn-block') %>

		<% end %>
	</div>

</div>
<div class="col-xs-8"></div>